body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

.big-image {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(donation7.jpg);
}

.help-me {
    text-align: center;
    padding: 100px;
    color: white;
}

.font-size {
    font-size: 80px;
    color: white;
}

.button-color {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-repeat: no-repeat;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 15px 40px;
    color: white;
}

.center-align {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;

}

.p-tag {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.half-width {
    justify-content: space-around;
    display: flex;
    width: 50%;
    margin-left: 20%;
}

.color-set {
    padding: 20px 40px;
    background-color: rgba(209, 214, 214, 0.533);
    border-radius: 5px;
    margin-left: 5%;
}

.color-div {
    background-color: rgba(168, 92, 107, 0.678);
    padding: 20px 40px;
    border: 7px solid red;
    border-radius: 5px;
    margin-left: 5%;

}

.amount {
    text-align: center;

    margin-top: 5%;
    margin-bottom: 2%;
    padding-left: 30px;
    padding-right: 30px;

}

.button-align {
    text-align: center;
}

.number3 {
    margin-top: 10%;
    text-align: center;

}

.number3 h1 {
    font-size: 50px;
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.one {
    margin: 40px;
    padding: 20px;
    background-color: burlywood;

}

.two {
    margin: 20px;
    padding: 20px;
    background-color: darkseagreen;
}

.three {
    margin: 40px;
    padding: 20px;
    background-color: cadetblue;

}

.width-two {
    display: flex;
    margin-top: 5%;
}

.width-five {
    width: 40%;
    padding-left: 5%;

}

.width-five img {
    width: 100%;
    border-radius: 10px;
}

.form {
    text-align: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid skyblue;
    background-color: darkgrey;

}

.placeholder {
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding: 80px;
    border-radius: 10px;
    background-color: rgba(229, 142, 111, 0.348);
}

.btn-2 {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.email1 {
    color: white;
    padding: 16px;
    border-radius: 5px;

}

footer {
    margin-top: 100px;
    text-align: center;
    background-color: rgba(14, 13, 13, 0.969);
    padding: 30px;

}